<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.enshev"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.enshev.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.enshev.DeviceListActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.enshev.RSSIListActivity"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.enshev.MainActivityManual"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.enshev.BluetoothService" >
        </service>
    </application>

</manifest>